@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;400;700;900&display=swap");
@import url('http://fonts.cdnfonts.com/css/harry-potter');

// Fuentes
$fuente_principal: "Georama", sans-serif;
$fuente_titulo : 'Harry Potter', sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cafe: #946B2D;
$negro: #000000;
$amarillo: #e08709;
$verde: #71b100;
$blanco: #ffffff;
$gris: #e1e1e1;
$grisOscuro: #333333;

$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
